<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-Time Pixel Canvas</title>
    <!-- 引入样式文件 -->
    <link rel="stylesheet" href="/static/style.css">
    <!-- 引入 Socket.IO 客户端库 -->
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
</head>
<body>
    <!-- 颜色选择器 -->
    <input type="color" id="colorPicker" value="#000000">
    <!-- 橡皮擦按钮 -->
    
    <!-- 画布 -->
    <canvas id="canvas" width="8000" height="6000"></canvas>
    <!-- 引入主要的脚本文件 -->
    <script src="/static/script.js"></script>
</body>
</html>
